/* body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), 
              linear-gradient(rgba(255, 255, 255, 0.08), transparent);
  pointer-events: none;
  z-index: 1;
} */

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle 100px at var(--x) var(--y), rgba(255, 255, 255, 0.3), transparent 250px);
  pointer-events: none;
  z-index: 2;
  mix-blend-mode: overlay;
  will-change: background-position; /* for performance optimization */
}

body {
  --x: 50%;  /* default x position */
  --y: 50%;  /* default y position */
  background-color: #252030; /* Dark purple/navy blue background */
  font-family: 'Arial', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  position: relative; /* Ensuring the ::before sits on top */

}

.container {
  display: flex;
  height: 100vh;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5em;
}

.right-column {
  flex: 2;
  overflow-y: scroll;
  padding: 2em;
}

.project {
  margin-bottom: 2em;
}

.left-column h1 {
  size: 10px;
}